/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/fonts/*
/public/js/app.js
/public/css/app.css
/public/mix-manifest.json
/storage/*.key
/storage
/storage/*
/vendor/
.env
.idea
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vs/nz-evenementenregistratie/v16/.suo
/.vs/nz-evenementenregistratie/config/applicationhost.config
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
.vs
