.flex-wrapper {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: $tablet-breakpoint) {
  .flex-wrapper {
    padding-left: $padding-huge;
    padding-right: $padding-huge;
  }

  .flex-grid {
    margin-top: 2rem;
  }
  .flex-grid:first-child {
    margin-top: 0;
  }

  .column-desktop-1 {
    width: 100% * 1 / 12;
  }
  .column-desktop-2 {
    width: 100% * 2 / 12;
  }
  .column-desktop-3,
  .column-desktop-thirds {
    width: 100% * 3 / 12;
  }
  .column-desktop-4,
  .column-desktop-quarters {
    width: 100% * 4 / 12;
  }
  .column-desktop-5 {
    width: 100% * 5 / 12;
  }
  .column-desktop-6,
  .column-desktop-halfs {
    width: 100% * 6 / 12;
  }
  .column-desktop-7 {
    width: 100% * 7 / 12;
  }
  .column-desktop-8 {
    width: 100% * 8 / 12;
  }
  .column-desktop-9 {
    width: 100% * 9 / 12;
  }
  .column-desktop-10 {
    width: 100% * 10 / 12;
  }
  .column-desktop-11 {
    width: 100% * 11 / 12;
  }
  .column-desktop-12,
  .column-desktop-full {
    width: 100% * 12 / 12;
  }
}


@media only screen and (min-width: ($mobile-breakpoint + 1)) and (max-width: ($tablet-breakpoint - 1)) {
  .flex-wrapper {
    padding-left: $padding-medium;
    padding-right: $padding-medium;
  }

  .flex-grid {
    flex-flow: row wrap;
  }

  .column-tablet-4 {
    width: 100% * 4 / 12;
  }
  .column-tablet-6 {
    width: 100% * 6 / 12;
  }
  .column-tablet-8 {
    width: 100% * 8 / 12;
  }
  .column-tablet-12 {
    width: 100% *12 / 12;
  }
}


@media only screen and (min-width: 0px) and (max-width: $mobile-breakpoint) {
  .flex-wrapper {
    padding-left: $padding-small;
    padding-right: $padding-small;
  }

  .flex-grid {
    flex-flow: row wrap;
  }

  .column-mobile-6,
  .column-mobile-12 {
    margin-top: 2rem;
  }

  .column-mobile-6 {
    width: 50%;
  }
  .column-mobile-12 {
    width: 100%;
  }

  .flex-grid:first-child .column-mobile-6,
  .flex-grid:first-child .column-mobile-12 {
    margin-top: 0;
  }
}