// Typography
$font-family: 'Roboto', sans-serif;

// Colors
// these aren't perfect yet
$darkest: #0F0F0F;
$darker: #1F1F1F;
$dark : #272727;
$medium: #404040;
$light: #767676;
$white: #FFFFFF;
$orange: #E6A65C;
$gray: #C1C1C1;
