// Variables
@import 'variables';
@import "flex-grid";


html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit; font-family: $font-family;}

@import 'components';

body{
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  letter-spacing: normal;
  line-height: normal;
}

.main {
  padding-top: 80px !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
