// Variables
@import 'variables';
@import "flex-grid";
@import "quill";

@import "./Admin/admin";

@import '../../node_modules/font-awesome/scss/font-awesome';
.fas, .fas:before, .fas:after {
    font-style: normal;
    font-family: FontAwesome;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: $font-family;
}

html, body {
    height: 100%;
}

@import 'components';

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    letter-spacing: normal;
    line-height: normal;
}

.force-height {
    height: 100%;
}

.main {
    padding-top: 80px;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}
