@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;

400;700&display=swap);.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background: #1F1F1F;
}

.navbar .navbar-inner {
  position: relative;
  padding: 24px;
  height: calc(100% - 24px*2);
  width: calc(100% - 24px*2);
  display: flex;
  justify-content: center;
}

.navbar-logo {
  height: 100%;
}

.navbar-hamburger {
  position: absolute;
  right: 24px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.sidenav {
  right: 0;
  position: fixed;
  height: 100vw;
  top: 0;
  width: 400px;
  background-color: #0F0F0F;
  transition: right ease-in-out 0.2s;
}

.sidenav.sidenav-hidden {
  right: -400px;
}

body {
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  letter-spacing: normal;
  line-height: normal;
}

