//remove whitespaces on top and left side
body {margin: 0}
.main {padding-top: 80px !important;}

.homepage-full {
    background-color: $dark;

    h1 {
        background-color: $medium;
        color: $gray;
        font-size: 50px;
        padding: 40px 40px 40px 60px;
        margin-top: 0;
    }

    .home-event {
        background-color: $medium;
        border-radius: 20px;
        margin-bottom: 50px;
        -webkit-box-shadow: -7px 7px 8px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: -7px 7px 8px 0px rgba(0,0,0,0.2);
        box-shadow: -7px 7px 8px 0px rgba(0,0,0,0.2);

        h2 {
            padding: 20px 20px 0 30px;
            color: $gray;
            font-size: 49px;
            text-align: left;
            margin-bottom: 0;
        }

        .home-description {
            padding: 0px 20px 20px 30px;
            color: $gray;
            font-size: 21px;
            font-weight: bold;
            text-align: left;
            width: 80%;
        }

        .flex-wrapper {
            margin: 0;
            padding: 0;
        }

        .home-date, .home-location {
            color: $gray;
            //padding-left: 30px;
            margin: 0 30px 30px 0;
            font-size: 13px;
            font-weight: bold;
            text-align: left;
        }

        .home-date {
            padding-left: 30px;
        }

        .home-location {
            padding-right: 250px;
        }

        hr.home-divider {
            border: 2px solid green;
            width: 40%;
            margin-left: 30px;
        }

        hr.home-divider-2 {
            border: 0.5px solid $gray;
            width: 75%;
            margin: 0 0 5px 30px;
        }
    }
}
