//remove whitespaces on top and left side
body {
  margin: 0
}

.homepage-full {
  height: 100%;
  flex: 1;
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;

  .homepage-inner {
    border-radius: $border-radius-small $border-radius-small 0 0;
    background-color: $deep-gray;
    margin: 0;
    flex: 1;
    padding-top: $padding-huge + $padding-medium;
    padding-bottom: $padding-huge + $padding-medium;
  }

  .home-events{
    display: flex;
    flex-wrap: wrap;
    @media (min-width: ($mobile-breakpoint + 1)) {
      > div{
        flex: 1 0 385px;
        min-width: 385px;
      }
    }
  }

  h1 {
    color: $basic-gray;
    font-size: $font-size-big;
    padding: 0;
    margin: 0;
  }

  .home-event-outer {
    display: flex;
    > home-event{
      flex: 1;
    }
  }

  .home-event {
    display: flex;
    flex-direction: column;
    background-color: lighten($deep-gray, 3%);
    border-radius: 20px;
    margin: 0 $padding-medium 50px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transition:
            background-color $animation-time ease-in-out,
            transform $animation-time ease-in-out,
            box-shadow $animation-time ease-in-out;

    &:hover {
      background-color: lighten($deep-gray, 6%);
      transform: scale(1.05);
      cursor: pointer;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    }

    .home-event-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 36px;
    }

    .home-event-background {
      background-color: $theme-color;
      height: 150px;
      border-radius: 20px 20px 0 0;
      background-position: center;
      background-size: cover;
    }

    h2 {
      padding: 0;
      margin-top: .33em;
      color: $basic-gray;
      font-size: 49px;
      text-align: left;
      margin-bottom: 0;
    }

    .home-description {
      flex: 1;
      padding: 0 0 20px 0;
      color: $basic-gray;
      font-size: 18px;
      line-height: 1.5;
      font-weight: bold;
      text-align: left;
      width: 80%;
    }

    .home-date, .home-location {
      color: $basic-gray;
      padding: 0 $padding-big $padding-medium 0;
      margin: 0;
      font-size: 13px;
      font-weight: bold;
      text-align: left;
    }

    hr.home-divider {
      border: 2px solid $theme-color;
      width: 40%;
      margin-left: 0;
    }

    hr.home-divider-2 {
      border: 0.5px solid $mid-gray;
      width: 100%;
      margin: 0 0 8px;
    }
  }
}
