@import "Item";
@import "Event";
@import "Program";
@import "AdminSideBar";

.admin-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.admin-main-program-container {
    background-color: #111111;
    color: whitesmoke;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.admin-main {
    max-height: calc(100vh - 80px);
    max-width: calc(100% - 335px);
    padding: 16px 16px 0 16px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
    background-color: #404040;
}

.admin-item-container {
    max-height: calc(100% - 80px);
    display: flex;
    height: 100%;
    flex-direction: row;
    flex: 1;
}

.admin-item-list {
    width: 335px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.admin-block-list-holder {

}

.admin-item-display-container::-webkit-scrollbar {
    display: none;
}

.admin-item-display-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    flex: 1;
    background: #2e2e2e;
    padding-left: 16px;
    padding-top: 8px;
    overflow-y: scroll;
}

.admin-item-display-container-for {
    padding: 0px 8px;
}

.admin-item-list-holder {
    background-color: #2e2e2e;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 8px 24px;
}

.admin-main-block-action-add-item {
    width: 100%;
    height: 40px;
}

.admin-main-block-action-update {
    width: 100%;
    height: 40px;
}

.admin-main-block-action-delete {
    width: 100%;
    height: 40px;
}

.admin-item-hr {
    background: #3e3e3e;
    height: 4px;
    margin-left: 32px;
    margin-bottom: 8px;
    margin-right: 32px;
}

.admin-block-list-header {
    background: #1f1f1f;
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.admin-block-list-date {

}

.admin-block-action {

}

.admin-block-list {
    flex-grow: 1;
}

.admin-block-list-add-block {
    background: #2e2e2e;
    height: 60px;
    align-items: center;
    display: flex;
    padding: 8px;
}

.admin-item-container-line {
    width: 25px;
}

.admin-item-container-footer {
    height: 40px;
}

.admin-block-list-add-icon {
    margin: 0px 12px;
    font-size: 28px;
}

.admin-block-date-holder {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    height: 100%;
    align-items: center;
}

.admin-block-action-holder {
    overflow: hidden;
    width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.admin-block-action-icon-holder {
    background: #404040;
    min-width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 0px 4px;
}

.admin-block-action-icon {
    font-size: 18px;
}

.admin-block-item-list {
    overflow: hidden;
    height: 0;
    -webkit-transition: height .3s ease-in-out;
    -moz-transition: height .3s ease-in-out;
    -o-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
}

.admin-block-list-date {
    height: 100%;
    align-items: center;
    display: flex;
}
