@import "Item";
@import "Event";
@import "Program";
@import "AdminSideBar";
@import "FindUser";
@import "Rolls";
@import "Controls";
@import "../variables";

//everything with dropdown triangle:
.admin-item-list-holder:not(.in-congress),
.admin-block-date-holder,
.admin-sidebar-name-holder{
    padding-left: $padding-medium + $padding-small !important;
    position: relative;

    &.open:before{
        transform: translateY(-50%) rotate(90deg);
    }
    &:before{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 12px;
        border-color: transparent transparent transparent #ffffff;
        position: absolute;
        left: #{$padding-medium/2};
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        transition: transform $animation-time ease-in-out, border $animation-time;
    }
}

.admin-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.admin-main-program-container {
    background-color: $pretty-black;
    color: whitesmoke;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.admin-main {
    min-height: calc(100vh - #{$navbar-height});
    max-height: calc(100vh - #{$navbar-height});
    max-width: calc(100% - 335px);
    padding: 16px 16px 0 16px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
    background-color: darken($dark-gray,5);
}

.admin-item-container {
    max-height: calc(100% - 80px);
    display: flex;
    height: 100%;
    flex-direction: row;
    flex: 1;
}

.admin-item-list {
    width: 335px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.admin-block-list-holder {

}

.admin-item-display-container::-webkit-scrollbar {
    display: none;
}

.admin-item-display-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    flex: 1;
    background: $deep-gray;
    padding-left: 16px;
    padding-top: 8px;
    overflow-y: scroll;
}

.admin-item-display-container-for {
    padding: 0px 8px;
}

.admin-item-list-holder {
    background-color: $dark-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 8px 24px;
    .admin-sidebar-item-action-update,
    .admin-sidebar-item-action-delete{
        background-color: $deep-gray;
    }
}

.admin-main-block-action-add-item {
    width: 100%;
    height: 40px;
}

.admin-main-block-action-update {
    width: 100%;
    height: 40px;
}

.admin-main-block-action-delete {
    width: 100%;
    height: 40px;
}

.admin-item-hr {
    background: $dark-gray;
    height: 4px;
    margin-left: 32px;
    margin-bottom: 8px;
    margin-right: 32px;
}

.admin-block-list-header {
    background: $pretty-black;
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.admin-block-list-date {

}

.admin-block-action {

}

.admin-block-list {
    flex-grow: 1;
}

.admin-block-list-add-block {
    background: $deep-gray;
    height: 60px;
    align-items: center;
    display: flex;
    padding: 8px;
}

.admin-item-container-line {
    width: 25px;
}

.admin-item-container-footer {
    height: 40px;
}

.admin-block-list-add-icon {
    margin: 0px 12px;
    font-size: 28px;
}

.admin-block-date-holder {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    height: 100%;
    align-items: center;
}

.admin-block-action-holder {
    overflow: hidden;
    width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.admin-block-action-icon-holder {
    background: $dark-gray;
    min-width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 0px 4px;
}

.admin-block-action-icon {
    font-size: 18px;
}

.admin-block-item-list {
    overflow: hidden;
    max-height: 0;
    overflow-y: auto;
    -webkit-transition: max-height .3s ease-in-out;
    -moz-transition: max-height .3s ease-in-out;
    -o-transition: max-height .3s ease-in-out;
    transition: max-height .3s ease-in-out;
    &::-webkit-scrollbar-track {
        background: $dark-gray;
    }
    &.showing{
     max-height: 300px;
    }
}

.admin-block-list-date {
    height: 100%;
    align-items: center;
    display: flex;
}

.admin-item-list-holder:hover {
    background-color: $mid-gray;
}

.admin-display-page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.admin-display-page-main {
    flex-direction: column;
    display: flex;
    background: $pretty-black;
    padding: 12px 0px 0px 24px;
    flex: 1;
}

.admin-display-page-main-container{
    display: flex;
    background: $deep-gray;
    flex: 1;
    flex-direction: column;
}

.admin-display-page-main-title {
    color: white;
}


