.admin-sidebar {
    display: flex;
    flex-flow: column nowrap;
    background-color: #2e2e2e;
    color: whitesmoke;
    min-width: 335px;
    max-width: 335px;
}

.admin-sidebar-event-container {
    width: 100%;
    justify-content: flex-start;
}


.admin-sidebar-event-list-item {
    font-size: larger;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-sidebar-program-container:hover {
    background-color: #1f1f1f;
}

.admin-sidebar-program-container {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.admin-sidebar-program-action-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.admin-sidebar-program-action-update {
    background: #404040;
    width: 35px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 0px 4px;
}

.admin-sidebar-program-action-delete {
    background: #404040;
    width: 35px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 0px 4px;
}

.admin-sidebar-program-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.admin-sidebar-item-action-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.admin-sidebar-item-action-update {
    background: #404040;
    width: 35px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 0px 4px;
}

.admin-sidebar-item-action-delete {
    background: #404040;
    width: 35px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 0px 4px;
}


.admin-sidebar-event-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    border-bottom: 2px solid lightblue;
}

.admin-create-event-sidebar {
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.admin-create-program-sidebar {
    margin-top: 24px;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}


.admin-sidebar-name-holder {
    padding: 4px 0 4px 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #111111;
    cursor: pointer;
}

.admin-sidebar-text-name {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 4px;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-sidebar-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-sidebar-icon {
    margin: 0 6px;
}

.admin-sidebar-event-name-stripe {
    background: #3e3e3e;
    height: 4px;
    margin: 8px 4px;
    width: 100%;
}

.admin-sidebar-program-create-button {
    background: blueviolet;
    padding: 8px;
}

.admin-sidebar-create-event-container {
    margin-top: auto;
}

.admin-create-event-sidebar {
    margin: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-sidebar-event-create-icon {
    font-size: 24px;
    margin: 0 8px;
}

.admin-sidebar-display-event-options {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .5s ease-in-out;
    -moz-transition: max-height .5s ease-in-out;
    -o-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
}
