.admin-roll-list-item:hover {
    background: #1f1f1f;;
}

.admin-roll-list-item {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 8px 16px
}

.admin-roll-action-holder {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.admin-roll-action-icon {
    color: whitesmoke;
    font-size: 24px;
    margin: 0px 12px;
}

.admin-roll-list-item-title{
    color: whitesmoke;
}
