.admin-modal-backdrop {
    padding: 100px;
    position: fixed;
    top: $navbar-height;
    left: 0;
    height: calc(100vh - #{$navbar-height});
    width: 100vw;
    background-color: rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.admin-modal {
    width: 100%;
    min-height: 200px;
    background: #FFFFFF;
    box-shadow: rgba(0,0,0,.5) 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    form {
        .form-label {
            color: $theme-color;
            font-weight: 400;
        }
        input[type='file']{
            color: #ffffff;
        }
    }
}

.event-form-preview-image{
    max-height: 200px;
    width: auto;
    height: auto;
    max-width: 100%;
}

.admin-modal-header,
.admin-modal-footer {
    padding: 15px;
    display: flex;
}

.admin-modal-header {
    background-color: #111111;
    color: #4AAE9B;
    justify-content: space-between;
}

.admin-modal-footer {
    background-color: #111111;
    justify-content: flex-end;
}


.admin-modal-body {
    padding: 20px 10px;
    max-height: 60vh;
    overflow: auto;
    background-color: $dark-gray;
    position: relative;
}

.admin-modal-btn-close {
    border: none;
    font-size: $font-size-normal;
    padding: $padding-small $padding-medium;
    border-radius: $border-radius-small;
    cursor: pointer;
    font-weight: bold;
    color: $theme-color;
    background: transparent;
}

.admin-modal-btn-green {
    color: white;
    background: #4AAE9B;
    border-radius: $border-radius-small;
    border: none;
    font-size: $font-size-normal;padding: $padding-small $padding-medium;
    min-width: 150px;
}

.admin-from-submit {
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
}

.admin-form-submit {
    padding: 12px 0;
    width: 100px;
}

.admin-modal-title {
    font-size: larger;
}

.admin-ql-need-min-height .ql-editor {
    min-height: 200px !important;
}
