@import './login/login';
@import './forgot/forgot';

.modal_holder {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, 0.75);
}

.modal_screen {
  display: block;
  text-align: center;
  position: relative;
  background-color: $dark;
  color: $orange;
  padding: 32px 150px;
  border-radius: 10px;
}

.btn-close-modal {
  margin-bottom: 25px;
  margin-top: 5px;
  margin-left: 80%;
  border-radius: 5px;
  background-color: $dark;
  color: $orange;
}