& {
  .event-congress-title {
      color: $mid-gray;
      font-size: $font-size-medium;
    }

    .event-congress-description {
      color: $basic-gray;
      font-size: $font-size-normal;
    }
}