.event-page {
  --theme-color: #{$theme-color};
  animation-name: fade-in-even;
  animation-duration: 2s;
}

@keyframes fade-in-even {
  from {opacity: 0;}
  to {opacity: 100%;}
}

@import "./light";

//background
.event-background {
  background-color: var(--theme-color);
  z-index: 0;
  position: relative;
  height: 300px;
  background-position: center center;
  background-size: cover;
}


//titlebar
.event-titlebar {
  background-color: $dark-gray;
  @import "./titlebar";
}

//program_and_info
.event-program_and_info {
  background-color: $mid-gray;
  @import "./program_and_info";
}

//congress
.event-congress {
  background-color: $deep-gray;
  @import "./congress";
}

//my-speakers
.event-my_speakers {
  background-color: $mid-gray;
  @import "./speakers";
}

//EVENT MODAL?
.event-modal {
  display: flex;
  flex-direction: column;
  background-color: $dark-gray;
  .event-modal-text-holder{
    position: relative;
    width: 100%;
    flex: 1;
    min-height: 100px;
    .event-modal-text{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  .event-modal-text{
    flex: 0;
    width: 100%;
    font-size: $font-size-medium;
    padding-bottom: 1em;

    &.feedback{
      font-weight: 700;
      text-align: center;
      width: 100%;
      transition: opacity $animation-time;
      opacity: 0;
      &.showing{
        opacity: 1;
      }
    }
  }
}


.event-content {
  flex-wrap: wrap;
  margin: 0;
  transform: translateY(0);

  .event-content-row {
    margin: 0;
    > * {
      box-shadow: $shadow;
      position: relative;
      border-radius: $border-radius-big $border-radius-big 0 0;
      padding: $padding-huge $padding-huge $padding-huge + $border-radius-big;
      margin-top: -($border-radius-big);
      @media (max-width: $tablet-breakpoint) {
        padding: $padding-medium $padding-big $padding-big + $border-radius-big;
      }
    }

    &.row-reverse{
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

//button
.event-titlebar-btn{
  float: right;
}
.event-modal-signup-button{
 margin: $padding-small auto;
  justify-self: center;
}
.event-titlebar-btn,.event-modal-signup-button {
  background-color: $dark-gray;
  color: var(--theme-color);
  border: 2px solid var(--theme-color);
  border-radius: (64px/2);
  padding: $padding-small $padding-big;
  text-align: center;
  text-decoration: none;
  font-size: $font-size-medium;
  font-weight: 500;
  line-height: 32px;
  height: 64px;
  min-width: 350px;
  position: relative;
  cursor: pointer;
  transition: color $animation-time, border-color $animation-time;
  &:disabled{
    color: $mid-gray;
    border-color: $mid-gray;
    cursor: not-allowed;
    background-color: transparentize($mid-gray,.9);
    &:after{
      background-color: transparent !important;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    font-size: $font-size-normal;
    padding: $padding-small $padding-medium;
    min-width: unset;
    max-width: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
    background-color: var(--theme-color);
    opacity: 0;
    transform: scale(.85, .75);
    transition: transform $animation-time ease-in-out, opacity $animation-time linear;
  }

  &:hover:after {
    transform: scale(1);
    opacity: 10%;
  }
}