.event-page {
  --theme-color: #{$theme-color};

}

@import "./light";

//background
.event-background {
  margin-top: -150px;
  z-index: 0;
  position: relative;
  height: 525px;
  background-position: center center;
  background-size: cover;
  margin-bottom: -150px;
  //test: me;
}


//titlebar
.event-titlebar {
  background-color: $dark-gray;
  @import "./titlebar";
}

//program_and_info
.event-program_and_info {
  background-color: $mid-gray;
  @import "./program_and_info";
}

//congress
.event-congress {
  background-color: $deep-gray;
  @import "./congress";
}

//my-speakers
.event-my_speakers {
  background-color: $mid-gray;
  @import "./speakers";
}

//EVENT MODAL?
.event-modal {
  background-color: $dark-gray;
}


.event-content {
  flex-wrap: wrap;
  margin: 0;
  transform: translateY(0);

  .event-content-row {
    margin: 0;
    > * {
      box-shadow: $shadow;
      position: relative;
      border-radius: $border-radius-big $border-radius-big 0 0;
      padding: $padding-huge $padding-huge $padding-huge + $border-radius-big;
      margin-top: -($border-radius-big);
      @media (max-width: $tablet-breakpoint) {
        padding: $padding-medium $padding-big $padding-big + $border-radius-big;
      }
    }

    &.row-reverse{
      display: flex;
      flex-direction: row-reverse;
    }
  }
}