//background
.event-background{
  margin-top: -150px;
  z-index: 0;
  position: relative;
  height: 525px;
  background-position: center center;
  background-size: cover;
}


//titlebar
.event-titlebar {
  background-color: $dark-gray;
  @import "./titlebar";
}

//program_and_info
.event-program_and_info {
  background-color: $basic-gray;
  @import "./program_and_info";
}

//congress
.event-congress {
  background-color: $deep-gray;
  @import "./congress";
}

//my-speakers
.event-my_speakers {
  background-color: $dark-gray;
  @import "./speakers";
}


.event-content{
  flex-wrap: wrap;
  margin: 0;
  animation: event-apear .3s ease-out;
  transform: translateY(-150px);
  > *{
    border-radius: $border-radius-big $border-radius-big 0 0;
    margin-top: -$border-radius-big;
    padding: $padding-huge $padding-huge $padding-huge + $border-radius-big;
  }
}

@keyframes event-apear {
  from{ transform: translateY(0px)}
  to{ transform: translateY(-150px)}

}