& {
  padding: 0 !important;
  overflow: hidden;

  .event-program_and_info-content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    overflow-y: scroll;
    padding: $padding-huge $padding-huge $padding-huge + $border-radius-big;

  }

  .event-program {

    .event-program-title {
      color: $dark-gray;
      font-size: $font-size-big;
    }

    .event-program-part {
      margin-top: 20px;
      display: flex;
    }

    .event-program-part-text {
      flex: 1;

      .event-program-part-title {
        color: var(--theme-color);
        font-size: $font-size-basis;
      }

      .event-program-part-description {
        padding: 0;
        color: $dark-gray;
        margin: 0;
        font-weight: bold;
      }
    }

    .event-program-part-time-holder {
      color: $dark-gray;
      width: max-content;
    }
  }

  .event-info {

    .event-info-divider {
      border: none;
      border-top: 1px solid $dark-gray;
      width: 75%;
      margin: 25px 0;
    }

    .event-info-title {
      color: $dark-gray;
      font-size: $font-size-big;
    }

    .event-info-line {
      margin: $padding-small;
      margin-left: 0;
    }

    .event-info-line-title {
      color: var(--theme-color);
      font-size: $font-size-basis;
    }

    .event-info-line-content {
      color: $dark-gray;
      font-weight: bold;
    }
  }

}
