& {
    > * {
    padding: 0;
    margin: 0;
  }

    .event-titlebar-title {
    color: var(--theme-color);
    font-size: 60px;
  }

    .event-titlebar-descript {
    color: var(--theme-color);
    font-size: 30px;
  }

    .event-titlebar-date {
      color: $mid-gray;
      font-size: $font-size-big;
      font-weight: bold;
  }

    .event-titlebar-ticketcounter {
      color: var(--theme-color);
      font-size: 30px;
      font-weight: bold;
  }

    .event-titlebar-divider {
        border: none;
        border-top: 15px solid var(--theme-color);
    }

    .event-titlebar-line-text {
        color: $mid-gray;
        font-weight: bold;
    }

    .event-titlebar-btn {
        background-color: $dark-gray;
        color: var(--theme-color);
        border: 2px solid var(--theme-color);
        border-radius: $border-radius-small;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        height: 45px;
        font-weight: bold;
    }
}
