$navbar-height: 80px;
$navbar-padding: 24px;
$sidenav-width: 400px;

.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: $navbar-height;
  background: $dark;

  .navbar-inner {
    position: relative;
    margin: $navbar-padding;
    height: calc(100% - #{$navbar-padding} * 2);
    width: calc(100% - #{$navbar-padding} * 2);
    display: flex;
    justify-content: center;
  }
}

.navbar-logo {
  height: 100%;
}

.navbar-hamburger {
  position: absolute;
  right: $navbar-padding;
  width: $navbar-height - $navbar-padding*2;
  height: $navbar-height - $navbar-padding*2;
  border: none;
  padding: 0;
  background-color: transparent;

  > div {
    width: 100%;
    height: 100%;
    position: relative;

    > div {
      width: $navbar-height - $navbar-padding*2;
      height: $navbar-padding / 8;
      background-color: white;
      position: absolute;
      top: calc(50% - #{$navbar-padding} / 16);

      &:before, &:after {
        position: absolute;
        content: '';
        width: inherit;
        height: inherit;
        display: block;
        background: white;
        bottom: ($navbar-height - $navbar-padding*2) / 2 - $navbar-padding / 8;
      }

      &:after {
        bottom: unset;
        top: ($navbar-height - $navbar-padding*2) / 2 - $navbar-padding / 8;
      }
    }
  }
}

.sidenav {
  &.sidenav-hidden {
    right: -$sidenav-width;
  }

  right: 0;
  position: fixed;
  height: 100vw;
  top: 0;
  width: $sidenav-width;
  background-color: $darkest;
  transition: right ease-in-out .2s;
}

.sidenav-close {
  position: absolute;
  right: $navbar-padding;
  top: $navbar-padding;
  width: $navbar-height - $navbar-padding*2;
  height: $navbar-height - $navbar-padding*2;
  border: none;
  padding: 0;
  background-color: transparent;

  > div {
    width: 100%;
    height: 100%;
    position: relative;

    > div {
      width: $navbar-height - $navbar-padding*2;
      height: $navbar-padding / 8;
      background-color: transparent;
      position: absolute;
      top: calc(50% - #{$navbar-padding} / 16);

      &:before, &:after {
        position: absolute;
        content: '';
        width: inherit;
        height: inherit;
        display: block;
        background: white;
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}

.sidenav-links {
  margin: $navbar-padding+$navbar-height $navbar-padding*2;

  a, button {
    width: 100%;
    display: block;
    text-align: left;
    padding: 8px 4px;
    margin: 18px 0;
    color: $white;
    font-size: 24px;
    border: none;
    text-decoration: none;
    background: none;
    position: relative;

    &:after {
      content: '';
      display: block;
      bottom: 0;
      left: 0;
      position: absolute;
      width: 0;
      height: 4px;
      background-color: $white;
      z-index: 1;
      transition: width ease-in-out .3s, background-color linear .2s;
    }

    &.router-link-active {
      &:after {
        width: 100% !important;
      }
    }

    &:hover {
      &:after {
        background-color: $orange;
        width: 80%;
      }
    }
  }

}

.navbar-user{
  position: absolute;
  left: $navbar-padding;
  bottom: $navbar-height/2;
  transform: translateY(150%);
  font-size: 18px;
  font-weight: 300;
  color: $white;
  .navbar-user-name{
    color: $orange;
  }
}

