$navbar-height: 80px;
$sidenav-width: 400px;

.navbar {
  box-shadow: $shadow;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: $navbar-height;
  background: $deep-gray;

  .navbar-inner {
    position: relative;
    margin: $padding-medium;
    height: calc(100% - #{$padding-medium} * 2);
    width: calc(100% - #{$padding-medium} * 2);
    display: flex;
    justify-content: center;
  }
}

.navbar-logo {
  height: 100%;
}

.navbar-hamburger {
  position: absolute;
  right: $padding-medium;
  width: $navbar-height - $padding-huge;
  height: $navbar-height - $padding-huge;
  border: none;
  padding: 0;
  background-color: transparent;

  > div {
    width: 100%;
    height: 100%;
    position: relative;

    > div {
      width: $navbar-height - $padding-huge;
      height: $padding-medium / 8;
      background-color: white;
      position: absolute;
      top: calc(50% - #{$padding-medium} / 16);

      &:before, &:after {
        position: absolute;
        content: '';
        width: inherit;
        height: inherit;
        display: block;
        background: white;
        bottom: ($navbar-height - $padding-huge) / 2 - $padding-medium / 8;
      }

      &:after {
        bottom: unset;
        top: ($navbar-height - $padding-huge) / 2 - $padding-medium / 8;
      }
    }
  }
}

.sidenav {
  &.sidenav-hidden {
    right: -$sidenav-width;
  }

  right: 0;
  position: fixed;
  height: 100vw;
  top: 0;
  width: $sidenav-width;
  background-color: $black;
  transition: right ease-in-out $animation-time;
}

.sidenav-close{

}

.sidenav-links {
  margin: $padding-medium+$navbar-height $padding-huge;

  a, button {
    width: 100%;
    display: block;
    text-align: left;
    padding: $padding-block;
    margin: 18px 0;
    color: $basic-gray;
    font-size: $font-size-medium;
    border: none;
    text-decoration: none;
    background: none;
    position: relative;

    &:after {
      content: '';
      display: block;
      bottom: 0;
      left: 0;
      position: absolute;
      width: 0;
      height: 4px;
      background-color: $basic-gray;
      z-index: 1;
      transition: width ease-in-out $animation-time, background-color linear $animation-time/2;
    }

    &.router-link-active {
      &:after {
        width: 100% !important;
      }
    }

    &:hover {
      &:after {
        background-color: $theme-color;
        width: 80%;
      }
    }
  }

}

.navbar-user{
  position: absolute;
  left: $padding-medium;
  bottom: $navbar-height/2;
  transform: translateY(150%);
  font-size: 18px;
  font-weight: 300;
  color: $basic-gray;
  .navbar-user-name{
    color: $theme-color;
  }
}

